@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */

.sidebar-transition {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar-open {
  transform: translateX(0);
  opacity: 1;
}

.sidebar-closed {
  transform: translateX(-100%);
  opacity: 0;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
